* {
  margin: 0;
  padding: 0;
}

@media (max-aspect-ratio: 7/10) {
  .joincontainer {
    width: 100% !important;
    text-align: center;
  }

  .joincontainer > h1 {
    font-size: 6vw !important;
    width: 55vw !important;
    padding: 3vw !important;
  }

  #joinInput {
    width: 65vw !important;
    padding: 4vw !important;
    font-size: 5vw !important;
    margin: 2vmax;
  }

  .joinbtn {
    width: 65vw !important;
    padding: 4vw !important;
    font-size: 5vw !important;
    margin: 2vmax;
  }

  .chatcontainer {
    background-color: white;
    height: 100% !important;
    width: 100% !important;
  }

  .header {
    height: 10% !important;
  }

  .header > h2 {
    margin: 8vw !important;
    font-size: 5vw !important;
  }
  .headerimg {
    margin: 6vw !important;
  }

  .chatbox {
    height: 70% !important;
  }

  .inputbox {
    height: 10%;
  }

  #chatinput {
    padding: 4vw !important;
    font-size: 4vw !important;
  }

  .messageBox {
    padding: 3vw !important;
    margin: 3vw !important;
    border-radius: 1.5vw !important;
    font-size: 4vw !important;
  }

  .right {
    float: right;
    background-color: crimson;
    color: white;
  }

  .left {
    float: left;
    background-color: khaki;
  }
}
